<!-- [START apps_script_forms_notifications_quickstart] -->
<p><i>Hello team,</i> 
The deployment to production has been completed successfully.</p>

<p> Please find details below: </p>
<ul>
<li>Release Version: <?= releaseBranch ?> Git Release Branch. </li>
<li>Git Release Branch: <?= releaseBranch ?> Git Release Branch. {RELEASE_BRANCH} </li>
<li>Release Content Details: <?= releaseContentDetails ?> {RELEASE_CONTENT_URL}</li>
</ul>
<p>
Please let me or saleforcefoce team know if you find any issues.
</p>

Kind regards,
{DEPLOYER}
<!-- [END apps_script_forms_notifications_quickstart] -->
